/* PAGE WRAPPER */
.feedback-page {
  min-height: 70vh;
  padding: 40px;
  background: #fafafa;
}

/* TITLE */
.feedback-title {
  text-align: center;
  font-size: 36px;
  font-weight: 800;
  color: #ff5722;
  margin-bottom: 40px;
  margin-top: 50px;
}

/* SUCCESS MESSAGE */
.success {
  text-align: center;
  color: green;
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 600;
}

/* FORM BOX */
.feedback-form {
  width: 60%;
  margin: auto;
  background: white;
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0 5px 22px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* INPUTS */
.feedback-input,
.feedback-textarea {
  width: 90%;
  padding: 14px;
  border-radius: 10px;
  border: 1px solid #0b0b0b;
  font-size: 16px;
  margin: 0 auto;          /* ✅ centers horizontally */
  display: block; 
}

.feedback-textarea {
  height: 140px;
  resize: none;
}

/* ⭐ STAR RATING */
.rating-box {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: 33px;
}

.stars {
  display: flex;
  gap: 8px;
}

.star {
  font-size: 32px;
  color: #ccc;
  cursor: pointer;
  transition: 0.25s;
}

.star.filled {
  color: #ff9800;
}

.star:hover {
  transform: scale(1.2);
}

/* SUBMIT BUTTON */
.feedback-btn {
  width: 200px;
  padding: 14px;
  background: #ff5722;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  font-weight: 600;
  align-self: center;
  transition: 0.25s;
}

.feedback-btn:hover {
  background: #e24613;
}

/* NAV WRAPPER */
.feedback-nav-wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
}

/* BACK BUTTON */
.feedback-back-btn {
  padding: 12px 30px;
  background: #333;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin-left: 600px;
  align-self: center;
}

.feedback-back-btn:hover {
  background: #000;
}
