/* NAVBAR MAIN */
.nav {
  width: 100%;
  height: 60px;
  background: #ff6131;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  position: fixed;    /* IMPORTANT */
  top: 0;
  left: 0;
  z-index: 9999;
  box-sizing: border-box; 
}


/* LEFT SIDE */
.nav-left {
  display: flex;
  align-items: center;
  gap: 14px;
}

/* LOGO IMAGE */
.logo-img {
  width: 70px;
  height: 70px;
  object-fit: contain;
}


/* LOGO */
.logo {
  font-size: 26px;
  font-weight: 700;
  color: #201c1c;
  margin-left:-10px;
}

/* MENU LINKS */
.nav-links {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
}
.nav-links a {
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  font-weight: 550;
  transition: 0.2s;
}
.nav-links a:hover {
  color: #222;
}

/* HAMBURGER */
.hamburger {
  width: 28px;
  height: 22px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.hamburger span {
  width: 100%;
  height: 4px;
  background: white;
  border-radius: 4px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .nav-active {
    display: block !important;
    position: absolute;
    top: 60px;   /* navbar height */
    right: 12px;
    background: #fff;
    padding: 20px;
    width: 170px;
    border-radius: 12px;
    box-shadow: 0 4px 18px rgba(0,0,0,0.15);
  }

  .nav-active li {
    margin: 14px 0;
  }
} 

/* ACTIVE LINK */
.active-link {
  color: #000 !important;     /* active text color */
  font-weight: 700;
  position: relative;
}

/* optional underline effect */
.active-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: #000;
  left: 0;
  bottom: -6px;
  border-radius: 4px;
}


@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    align-items: center;
  }

  .nav-active {
    display: flex !important;
    position: absolute;
    top: 60px;
    right: 15px;
    background: #fff;
    padding: 18px 12px;
    width: 170px;
    border-radius: 12px;
    box-shadow: 0 4px 18px rgba(0,0,0,0.15);
    z-index: 999;
  }

  .nav-active li {
    width: 100%;
    text-align: center;
  }

  .nav-active a {
    color: #333;
    padding: 10px;
    display: block;
  }
}


